@media only screen and (max-width: 320px) {
    header {
      padding: 10px;
    }
  
    .doce-heading {
      font-size: 24px;
    }
  
    .button-pedido {
      width: 150px;
    }
  
    .products li {
      flex-basis: 100%;
    }
  }
  
  @media only screen and (min-width: 321px) and (max-width: 768px) {
    header {
      padding: 15px;
    }
  
    .doce-heading {
      font-size: 30px;
    }
  
    .button-pedido {
      width: 180px;
    }
  
    .products li {
      flex-basis: calc(50% - 10px);
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1200px) {
    header {
      padding: 20px;
    }
  
    .doce-heading {
      font-size: 36px;
    }
  
    .button-pedido {
      width: 220px;
    }
  
    .products li {
      flex-basis: calc(33.33% - 15px);
    }
  }
  
  @media only screen and (min-width: 1201px) and (max-width: 1920px) {
    header {
      padding: 30px;
    }
  
    .doce-heading {
      font-size: 42px;
    }
  
    .button-pedido {
      width: 250px;
    }
  }
  
  @media only screen and (min-width: 1921px) and (max-width: 2560px) {
    header {
      padding: 40px;
    }
  
    .doce-heading {
      font-size: 48px;
    }
  
    .button-pedido {
      width: 280px;
    }
  }