

/*Main - START*/
.group__aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__group{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 5; 
}

.title__barskills{
    font-family: var(--font-family-teko);
    color: #fff;
}

.title__aboutme {
    font-family: var(--font-family-teko);
    color: #fff;
}

#aboutmeTitle.initial-shadow,
#barskillsTitle.initial-shadow {
    text-shadow: 1px 1px 5px #d558c8;
}

.title__aboutme a,
.title__barskills a {
    cursor: pointer;
}

.container__aboutme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.img__aboutme, .img__aboutme2{
    display: flex;
    flex-direction: row;
}

.img__aboutme img, .img__aboutme2 img {
    width: 134px;
    height: 240px;
    border-radius: 5%;
}

.title__text {
    font-family: var(--font-family-wix);
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
    margin-left: 50px;
}

#aboutme{
    font-family: var(--font-family-wix);
    font-size: 16px;
    color: #fff;
    margin-left: 50px;
}

.text__aboutme {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.navigation__icons__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.container__skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 300px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.box__skills {
    text-align: center;
    height: 25px;
    margin-top: 20px;
    margin-bottom: 20px
}

#title__skills{
    font-family: var(--font-family-teko);
    font-size: 24px;
    color: #fff;
    text-shadow: 1px 1px 5px #24d292;
    margin-bottom: 20px;
}

.box__text_skills{
    text-align: justify;
    font-size: 16px;
    color: #000;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text__skills{
    font-family: var(--font-family-wix);
    font-size: 16px;
    color: #fff;
}

.icon__back,
.icon__next {
    position: absolute;
    top: 50%;
    width: 40px;
    height: auto;
}

.icon__back {
    left: 10px;
    transform: translateY(-50%);
}

.icon__next {
    right: 10px;
    transform: translateY(-50%) scaleX(-1);
}

.icon__back:hover{
    cursor: pointer;
    transform: scaleX(1.1) translateY(-50%);
}

.icon__next:hover {
    cursor: pointer;
    transform: scaleX(1.1) translateY(-50%) scaleX(-1);
}

#first__container{
    display: flex;
}

#second__container{
    display: none;
}

#third__container{
    display: none;
}

#container__about{
    display: flex;
}

#container__mineskills{
    display: none;
}

/*ANIMATION Fade - START*/
@keyframes circle-in-hesitate {
    0% {
      clip-path: circle(0%);
      background-color: #d558c8;
    }
    40% {
      clip-path: circle(40%);
      background-color: #24d292;
    }
    100% {
      clip-path: circle(125%);
    }
  }
  
  [transition-style="in:circle:hesitate"] {
    animation: 5s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both;
  }
/*ANIMATION Fade - END*/

/*Skills - START*/
.group__skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 300px;
    margin-left: 15px;
}

.container__skills1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: -7px;
    height: 686.79px;
}

#container__mineskills{
    display: none;
}

.skills{
    text-align: left;
    margin-right: 5%;
}

.lista-skills {
    width: 310px;
    height: 200px;
    position: relative;
}


.barchart-bar {
    height: 20px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    margin-top: 10px;
}

#text__skill{
    margin-left: 5px;
    text-shadow: #FFFFFF 0px 0px 5px;
}

.title__about__site{
    font-family: var(--font-family-wix);
    color: #fff;
    text-shadow: 1px 1px 5px #24d292;
    font-size: 20px;
    line-height: 20px;
}

.barchart-bar {
    height: 20px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    margin-top: 10px;
}

.lista-skills {
    width: 310px;
    height: 200px;
    position: relative;
}

.barchart-rank-1 {
    background-color: #ff7f0f;
}

li{
    list-style: none;
}

#html, #htmlType {
    background-color: #f5ab0b;
    color: #000131;
}

#css, #cssType {
    background-color: #113cff;
    color: #000131;
}

#javascript, #javascriptType {
    background-color: #fffb00;
    color: #000131;
}

#php, #phpType {
    background-color: #8da2ff;
    color: #000131;
}

#csharp, #csharpType {
    background-color: #1aff40;
    color: #000131;
}

#java, #javaType {
    background-color: #f5740b;
    color: #000131;
}

#sql, #sqlType {
    background-color: #00b4ab;
    color: #000131;
}

#kotlin, #kotlinType {
    background-color: #7b00b4;
    color: #000131;
}
/*Skills - END*/
/*Main - END*/