@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

:root{
    --font__family__teko: "Teko", sans-serif;
    --font__family__wix: "Wix Madefor Text", sans-serif;
}

.group__card {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon__back {
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translateY(-50%);
    width: 40px;
    height: auto;
}

.icon__back:hover {
    cursor: pointer;
    transform: scaleX(1.1) translateY(-50%);
}

#back__button{
    display: none;
}

.icon__next {
    position: absolute;
    top: 60%;
    right: 10%;
    transform: translateY(-50%) scaleX(-1);
    width: 40px;
    height: auto;
}

.icon__next:hover {
    cursor: pointer;
    transform: scaleX(1.1) translateY(-50%) scaleX(-1);
}

#next__button{
    display: flex;
}

.list__row{
    display: flex;
    flex-wrap: wrap;
}

#row__two {
    flex-basis: 100%; /* Define a largura total para a segunda linha */
    display: flex; /* Mantém os elementos em linha na segunda linha */
}

.card__games, .card__apps {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title__projects {
    font-family: var(--font__family__teko);
    font-size: 22px;
    margin-bottom: 20px;
}

.list__projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.style__card__games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    flex: 1; /* Os elementos ocuparão o mesmo espaço na linha */
    margin: 10px; /* Margem entre os elementos */
}

.style__card__games img, .style__card__apps img {
    width: 50%;
    height: 50%;
    margin: 10px;
    border-radius: 10px;
}

.info__games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 15px 0 0 0;
}

.style__card__apps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 30px 0 30px;
    max-width: 300px;
}

.info__apps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 15px 0 0 0;
}

#name__game {
    font-family: var(--font__family__wix);
    font-size: 20px;
    color: #fff;
    line-height: 1.5;
    font-weight: bold;
}

#description__game{
    font-family: var(--font__family__wix);
    font-size: 14px;
    color: #000;
    margin: 10px 0 0 0;
    line-height: 1.5;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.autores{
    color: #fff !important;
}

#first__container{
    display: flex;
    margin-bottom: 100px;
}

#second__container{
    display: none;
    margin-bottom: 361px;
}

#third__container{
    display: none;
    margin-bottom: 361px;
}