@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

:root {
    --background__body__gradient: linear-gradient(30deg, rgba(213,88,200,1) 0%, rgba(36,210,146,1) 100%);
    /*linear-gradient(to right bottom, #101728, #3c2a53, #7f346d, #c6396d, #ff5454);*/
    --text__color__primary: #f2f2f2;
    --font__family__teko: "Teko", sans-serif;
    --text__color__menu: #8ecae6;
}

html{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body{
    display: block;
    margin: 0;
    z-index: 0;
    background-color: #24d292;
}

header{
    unicode-bidi: isolate;
}

nav{
    width: 100%;
    height: 14rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    unicode-bidi: isolate;
}

.container__title {
    display: flex;
    width: 300px;
    animation: rotateAnimation 2.5s linear infinite;

    /*GlassEffect - START*/
    background: rgba(255, 255, 255, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(16, 23, 40, 0.3);
    /*GlassEffect - END*/
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    white-space: nowrap;
}

/*Animation Rotate - START*/
@keyframes rotateAnimation {
    0% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(3deg);
    }
}
/*Animation Rotate - END*/
.container__title h1, .container__title p {
    color: var(--text__color__primary);
}
/*Line Division - START*/
.container__division {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% auto 1% auto;
    width: 70%;
    height: 1px;
    background-color: var(--text__color__primary);
}

.container__division2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% auto 1% auto;
    width: 30%;
    height: 1px;
    background-color: var(--text__color__primary);
}
/*Line Division - END*/
/*Container Menu - START*/
.container__menu {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container__menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 30%;
}

.container__menu a {
    font-family: var(--font__family__teko);
    font-size: clamp(24px, 8vw, 28px);
    font-weight: 600;
    color: var(--text__color__primary);
    transition: color 0.5s ease, background-size 400ms;

    background: linear-gradient(to right, rgba(100, 200, 200, 0), rgba(100, 200, 200, 0)),
                linear-gradient(to right, #d558c8, #e9aecb, #ffffff);
    background-size: 100% 3px, 0 3px;
    background-repeat: no-repeat; 
}

.container__menu a:hover {
    color: #f2f2f2;
    background-size: 0 3px, 100% 3px;
}
/*Container Menu - END*/

/*Footer - START*/
footer {
    unicode-bidi: isolate;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer p {
    font-size: clamp(12px, 2vw, 14px);
    margin-bottom: 10px;
}

.footer_icons svg {
    width: 35px;
    height: 35px;
    margin: 0 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer_icons svg:hover {
    filter: drop-shadow(0 0 10px #ffffff);
    transition: all .3s ease-in-out;
}

.ul__footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    list-style: none;
}

.ul__footer ul li {
    margin-left: 20px;
    margin-right: 20px;
}

.ul__footer ul li a {
    display: inline-block;
    transition: transform 0.5s;
}

.ul__footer ul li a:hover {
    transform: translateY(2px);
}
/*Footer - END*/

.div__background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}