/* Reset CSS Simples */

/* Removendo margens e preenchimentos padrão */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ul, ol, li, form, table, tr, td {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box; /* Melhora o modelo de caixa */
}

/* Removendo decoração de texto padrão dos links */
a {
    text-decoration: none;
    color: inherit; /* Herda a cor do texto do elemento pai */
}
